<template>
    <style type="text/css">
        .container {
            width: 600px;
            height: 100px;
            background: blue;
            color: white;
            margin: 0 auto;
        }
        .container.red{
            background: red;
            animation: animatedBackground 0.7s linear infinite;
        }
        .container.green{
            background: green;
        }
        .clock {
            font-family: 'WWDigital';
            line-height: 100px;
            font-size: 60px;
            text-align: center;
        }
        @keyframes animatedBackground {
            from { background-color: transparent; }
            to { background-color: red; }
        }
    </style>
    <div class="container">
        <div class="clock">00:00:00</div>
    </div>
</template>
<script type="application/javascript">
    class SimpleClock extends HTMLElement {
        constructor() {
            super();
            this.shadowDom = this.attachShadow({mode: 'open'});
            this.cacheDom();
            this.alarmTime = '00:00:00';
            this.eventAlarm = document.createEvent('Event');
            this.eventAlarm.initEvent('alarm', true, true);
        }

        cacheDom(){
            this.importDocument = document.currentScript.ownerDocument;
            const template = this.importDocument.querySelector('template').content.cloneNode(true);
            this.shadowDom.appendChild(template);
            this.$clock = this.shadowDom.querySelector('.clock');
            this.$container = this.shadowDom.querySelector('.container');
        }

        updateClock(datetime) {
            this.$clock.textContent = datetime;
        }

        runClock() {
            setInterval(() => {
                var nowTime = moment().format('h:mm:ss');
                if(this.alarmTime == nowTime){

                    console.log('test');
                    this.dispatchEvent(this.eventAlarm);
                }
                this.updateClock(nowTime);
            }, 1000);
        }
        updateTheme(newValue){
            this.$container.classList = 'container ' + newValue;
        }
        setAlarm(newValue){
            this.alarmTime = newValue;
        }
        static get observedAttributes (){
            return ['theme', 'alarm'];
        }

        connectedCallback() {
            let currentTheme = this.getAttribute('theme');
            this.updateTheme(currentTheme);
            this.runClock();
        }
        attributeChangedCallback(attribute, oldValue, newValue){
            if(attribute == 'theme'){
                this.updateTheme(newValue);
            }
            if(attribute == 'alarm'){
                this.setAlarm(newValue);
            }
        }
    }
    window.customElements.define('simple-clock', SimpleClock);
</script>