<template id="test">
    <style type="text/css">
        .container {
            width: 100%;
            background: blue;
            color: white;
        }

        .container.red {
            background: red;
            animation: animatedBackground 0.7s linear infinite;
        }

        .container.green {
            background: green;
        }

        .clock {
            font-family: 'WWDigital';
            line-height: 149px;
            font-size: 60px;
            text-align: center;
        }

        @keyframes animatedBackground {
            from {
                background-color: transparent;
            }
            to {
                background-color: red;
            }
        }
    </style>
    <div class="container">
        <div class="clock">00:00:00</div>
    </div>
</template>
<script type="application/javascript">
    (function (window, document, undefined) {

        // Refers to the "importer", which is index.html
        var thatDoc = document;

        // Refers to the "importee", which is vimeo-embed.html
        var thisDoc = (thatDoc._currentScript || thatDoc.currentScript).ownerDocument;

        // Gets content from <template>.
        var template = thisDoc.querySelector('template').content;

        class SimpleClock extends HTMLElement {
            constructor() {
                super();
                this.shadowDom = this.attachShadow({mode: 'open'});
                this.cacheDom();
                this.alarmTime = '00:00:00';
                this.eventAlarm = document.createEvent('Event');
                this.eventAlarm.initEvent('alarm', true, true);
            }

            cacheDom() {
                var clone = thatDoc.importNode( template, true );
                this.shadowDom.appendChild(clone);
                this.$clock = this.shadowDom.querySelector('.clock');
                this.$container = this.shadowDom.querySelector('.container');
            }

            updateClock(datetime) {
                this.dispatchEvent(new CustomEvent('tick', {detail: {time: datetime}}));
                this.$clock.textContent = datetime;
            }

            runClock() {
                setInterval(() => {
                    this.time = moment().format('h:mm:ss');
                    if(this.alarmTime == this.time){
                        this.dispatchEvent(this.eventAlarm);
                    }
                    this.updateClock(this.time);
                }, 1000);
            }

            updateTheme(newValue) {
                this.$container.classList = 'container ' + newValue;
            }

            setAlarm(newValue) {
                this.alarmTime = newValue;
            }

            static get observedAttributes() {
                return ['theme', 'alarm'];
            }

            connectedCallback() {
                let currentTheme = this.getAttribute('theme');
                this.updateTheme(currentTheme);
                this.runClock();
            }

            attributeChangedCallback(attribute, oldValue, newValue) {
                if (attribute == 'theme') {
                    this.updateTheme(newValue);
                }
                if (attribute == 'alarm') {
                    this.setAlarm(newValue);
                }
            }
        }
        window.customElements.define('simple-clock', SimpleClock);
    })(window, document);
</script>